<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirect all request to index.php file
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>